.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.responsive{
  max-width:100%;
  max-height:100%;
}

.center{
 position: relative;
 left: 30%; 

}

.parent{
 position: relative;
}
.home-container {
  background-image: url('https://images.unsplash.com/photo-1495195129352-aeb325a55b65?q=80&w=1776&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
 
  background-position: center;
  background-size: auto; /* or 'cover' depending on your preference */
  background-repeat: repeat
}

.scrollable-container {
  display: flex;
  align-items: center;
  overflow-x: auto; /* Enable horizontal scrolling */
  
}
.slider-container {
  width: 300px; /* Adjust width as needed */
  position: fixed; /* Position the slider container fixed */
  border-radius: 10px;
  top: 50px; /* Adjust the top position */
  left: 0; /* Stick the container to the left */
  z-index: 999; /* Set a higher z-index to ensure it's above other content */
  background-color: #ffffff; /* Add a background color for better visibility */
  padding: 10px; /* Add padding for better appearance */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add a shadow for depth */
  transition: transform 0.3s ease-in-out; /* Add transition for smooth hide/show */
  opacity: 0.9;
}


.hidden {
  transform: translateX(-100%); /* Hide the slider by moving it to the left */
}

.slider-content {
  margin-bottom: 10px; /* Add margin between slider and button */
}

.toggle-btn {
  display: block;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-btn:hover {
  background-color: #0056b3;
}

.slider {
 
  -webkit-appearance: none; /* Remove default styles */
  appearance: none;
  width: 100%;
  height: 25px;
  border-radius: 5px;
  background: #000000; /* Track color */
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
  border-radius: 10px;
  
}

#price-display {
  font-size: 18px;
  color: black;
}
.slider-container-btn {
  width: auto; /* Adjust width as needed */
  position: fixed; /* Position the slider container fixed */
  top: 130px; /* Adjust the top position */
  left: 0; /* Stick the container to the left */
  z-index: 999; /* Set a higher z-index to ensure it's above other content */ /* Add a background color for better visibility */
  padding: 10px; /* Add padding for better appearance */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add a shadow for depth */
  transition: transform 0.3s ease-in-out; /* Add transition for smooth hide/show */
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #4caf50; /* Change the background color */
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 50%;
  background-color: #4caf50; /* Change the background color */
  cursor: pointer;
}

.slider::-ms-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #4caf50; /* Change the background color */
  cursor: pointer;
}
